[submodule "nmea_navsat_driver"]
	path = nmea_navsat_driver
	url = https://github.com/ros-drivers/nmea_navsat_driver.git
[submodule "tritech_micron"]
	path = tritech_micron
	url = https://github.com/mcgill-robotics/ros-tritech-micron.git
[submodule "razor_imu_9dof"]
	path = razor_imu_9dof
	url = https://github.com/KristofRobot/razor_imu_9dof.git
[submodule "OpenCPN2ROS"]
	path = OpenCPN2ROS
	url = https://github.com/legalmael/OpenCPN2ROS.git
