<launch>

<group ns="zodiac_auto">

<arg name="zodiacCommand_config_file" default="$(find zodiac_launchers)/config/zodiacCommand.yaml"/>

<!-- waypointMgr node -->
<node pkg="zodiac_command" type="waypointMgr" name="waypointMgr" output="screen">
  <rosparam file="$(arg zodiacCommand_config_file)" command="load"/>
</node>

<!-- lineFollowing node -->
<node pkg="zodiac_command" type="lineFollowing" name="lineFollowing" output="screen">
  <rosparam file="$(arg zodiacCommand_config_file)" command="load"/>
</node>

<!-- courseRegulator node -->
<node pkg="zodiac_command" type="courseRegulator" name="courseRegulator" output="screen">
  <rosparam file="$(arg zodiacCommand_config_file)" command="load"/>
</node>

</group>

</launch>
