<launch>

<group ns="zodiac_auto">

<!-- GPS node -->
<!-- <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="nmea_serial_driver" output="screen"> -->
<node pkg="nmea_navsat_driver" type="nmea_topic_serial_reader" name="nmea_topic_serial_reader" output="screen" respawn="true" respawn_delay="2" >
  <param name="port" type="string" value="/dev/gps" />
  <param name="baud" type="int" value="9600" />
</node>
<node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="nmea_topic_driver" output="screen" respawn="true" respawn_delay="2" />

<!-- IMU node -->
<!-- All configs (port, calibration, etc) are in the my_razor.yaml file, located in /opt/ros/kinetic/share/razor_imu_9dof/config. -->
<include file="$(find razor_imu_9dof)/launch/razor-pub.launch" />

<!-- Sonar node -->
<node pkg="echosounder" type="depth_publisher.py" name="depth_publisher" output="screen" respawn="true" respawn_delay="2" />

<!-- Pololu Jrk motorCtr node -->
<node pkg="zodiac_auto" type="motorCtr" name="motorCtr" output="screen" respawn="true" respawn_delay="2" >
  <param name="path" type="string" value="/dev/pololu" />
</node>


<arg name="zodiacCommand_config_file" default="$(find zodiac_launchers)/config/zodiacCommand.yaml"/>

<!-- waypointMgr node -->
<node pkg="zodiac_command" type="waypointMgr" name="waypointMgr" output="screen" >
  <rosparam file="$(arg zodiacCommand_config_file)" command="load"/>
</node>

<!-- lineFollowing node -->
<node pkg="zodiac_command" type="lineFollowing" name="lineFollowing" output="screen">
  <rosparam file="$(arg zodiacCommand_config_file)" command="load"/>
</node>

<!-- courseRegulator node -->
<node pkg="zodiac_command" type="courseRegulator" name="courseRegulator" output="screen">
  <rosparam file="$(arg zodiacCommand_config_file)" command="load"/>
</node>

<!-- rosbag node -->
<node pkg="rosbag" type="record" name="rosbag_record"
       args="record --split --size=1000 -o $(env HOME)/ros_ws/recorded_data/$(optenv now .)/rosbag /zodiac_auto/boat_heading /zodiac_auto/depth /zodiac_auto/desired_course /zodiac_auto/fix /zodiac_auto/gps_course /zodiac_auto/gps_speed /zodiac_auto/helm_angle_cmd /zodiac_auto/helm_motorOn /zodiac_auto/imu /zodiac_auto/waypoint_line /zodiac_auto/signedDistance /zodiac_auto/time_reference /zodiac_auto/vel"/>

<!-- opencpn_interface node -->
<include file="/home/zodiac/ros_ws/src/ZodiacAuto/OpenCPN2ROS/launchers/opencpn_interface.launch" />

</group>

</launch>
